#content{
  max-width: 740px;
  margin: auto;
}

.p{
  font-family: "PT Serif," "Times New Roman," serif;
  font-size: 14px;
}

.links{
  color: #FF0000;
}

#image1{
  width: 100%;
  height: 600px;
}

.h1{
  display: block;
  margin-bottom: auto;
}

.h2{
  display: block;
  margin-top: 4px;
}

.h6{
  display: block;
  margin-top: 2px;

}

.image2 {
  display: block;
  margin: 10px auto 20px;
  width: 500px;
}

.table1{
  width: 100%;
  height: 700px;
}


.emily-molly{
 width: 80%;
 height: 750px;
 display: block;
 margin: 10px auto 20px;
}

#datawrapper-chart-dSjcD{
  display: block;
  margin: 0 auto;
  height: auto;
  margin: 10px auto 20px;
}

#datawrapper-chart-mD3Wa{
  display: block;
  margin: 0 auto;
  height: auto;
  margin: 10px auto 20px;
}

#datawrapper-chart-PS0i6{
  display: block;
  margin: 0 auto;
  height: auto;
  margin: 10px auto 20px;
}


#tour-route{
  width: 100%;
  height: 700px;
}
