/* font-family: "Raleway", sans-serif; */
#headline p {
font-size: 16px;
font-family: "Veranda", sans-serif;
color: #808080;
text-align: center;
}

#logo img {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

#decorations h2 {
text-align: center;
color: #778899 font-size: 20px;
font-family: "Veranda", sans-serif;
border-style: dotted;
border-color: #D3D3D3;
}

#descriptiontop p {
text-align: center;
color: #778899 font-family: "Veranda", sans-serif;
font-size: 16px;
}

#appetizers h3 {
text-align: left;
color: #8B0000;
font-size: 20px;
font-family: "Veranda", sans-serif;
border-bottom-style: dotted;
border-bottom-color: #D3D3D3;
}

.appetizers h5 {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
font-weight: bold;
}

.appetizers p {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
}

.price h5 {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
font-weight: bold;
font-style: italic;
}

#wings {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
border-style: dotted;
border-color: #D3D3D3;
background-color: #778899;
}

#salad {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
color: #D3D3D3;
font-style: italic;
}

#housemadepizza {
text-align: left;
color: #8B0000;
font-size: 20px;
font-family: "Veranda", sans-serif;
border-bottom-style: dotted;
border-bottom-color: #D3D3D3;
}

.pizzas h5 {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
font-weight: bold;
}

.pizzas {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
}

#chickenpizza {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
border-style: dotted;
border-color: #D3D3D3;
background-color: #778899;
}

#toppings {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
color: #D3D3D3;
font-style: italic;
}

.sandwiches {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
}

.sandwiches h5 {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
font-weight: bold;
}

#meatballs {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
border-style: dotted;
border-color: #D3D3D3;
background-color: #778899;
}

#blackburger {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
border-style: dotted;
border-color: #D3D3D3;
background-color: #778899;
}

#pastas {
text-align: left;
color: #8B0000;
font-size: 20px;
font-family: "Veranda", sans-serif;
border-bottom-style: dotted;
border-bottom-color: #D3D3D3;
}

.pastas {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
}

#redmoorpasta {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
border-style: dotted;
border-color: #D3D3D3;
background-color: #778899;
}

#sides {
text-align: left;
color: #8B0000;
font-size: 20px;
font-family: "Veranda", sans-serif;
border-bottom-style: dotted;
border-bottom-color: #D3D3D3;
}

.sides {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
}

.footnotes {
text-align: left;
color: #778899
  font-family: "Veranda", sans-serif;
font-size: 16px;
}

#bookwithus {
text-align: left;
font-size: 16px;
font-family: "Veranda", sans-serif;
font-weight: bold;
}
